.ent {
  background-color: black;
  opacity: 0.8;
}

.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;

  .logo {
    margin-left: 1.5rem;
    color: white;
    font-size: 35px;
    font-weight: bolder;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .item {
    display: flex;
    margin-right: 1.5rem;
    .ul {
      display: flex;
      margin: 25px;

      li {
        margin: 0 1rem;

        a {
          font-size: 20px;
          text-decoration: none;
          color: white;
          font-weight: bolder;
        }
      }
    }
  }
}
