.LoginContainer {
  background-color: white;
  // border-radius: 5%;
  .mytitle {
    font-weight: 900;
    text-align: center;
    padding: 50px;
  }
  .mypassword{
    padding-bottom: 20px;
  }
  .copyright {
    padding-bottom: 40px;
  }
}